*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: orange;
}

#container{
    background-color: orangered;
    width: 700px;
    margin: auto;
    height: 400px;
}

img{
    height: 300px;
    margin-left: 15px;
}

#buttons{
    margin: 10px;
    display: flex;
    justify-content: center;
}

#buttons button{
    margin: 1px;
    background-color: slategray;
    border-radius: 5px;
}

#buttons button:hover{
    background-color: rgb(169, 178, 187);
    cursor: pointer;
}

p{
    float: right;
    margin-right: 10px;
    width: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}